Repository jotaijs/jotai-devtools: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, prettier --write

.lintstagedrc:

{
  "**/*.{ts,tsx,js,jsx}": [
    "eslint --quiet --fix",
    "prettier --write"
  ],
  "**/*.{md,yml,json,babelrc,eslintrc,prettierrc}": [
    "prettier --write"
  ]
}

chore: update dependencies
  __tests__/devtools/__snapshots__/AtomViewer.test.tsx.snap
  __tests__/utils/useAtomsDevtools.test.tsx
  __tests__/utils/useAtomsSnapshot.test.tsx
  package.json
  pnpm-lock.yaml
  src/DevTools/Extension/components/Shell/components/AtomViewer/components/AtomDetail/components/AtomMetaDetails.tsx
  src/stories/Default/Playground/Playground.tsx
Due: eslint --quiet --fix, prettier --write

chore: bump node to 18
  .nvmrc
Due: none

chore: update storybook
  .storybook/main.ts
  package.json
  pnpm-lock.yaml
Due: eslint --quiet --fix, prettier --write

chore: update dev deps
  __tests__/devtools/AtomViewer.test.tsx
  __tests__/devtools/TimeTravel.test.tsx
  __tests__/devtools/__snapshots__/AtomViewer.test.tsx.snap
  __tests__/devtools/__snapshots__/TimeTravel.test.tsx.snap
  __tests__/devtools/__snapshots__/basic.test.tsx.snap
  __tests__/devtools/basic.test.tsx
  package.json
  pnpm-lock.yaml
Due: eslint --quiet --fix, prettier --write

chore: update esbuild + redux
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update @testing-library + lint staged
  __tests__/setup.ts
  jest.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --quiet --fix, prettier --write

chore: update react-resizable-panels
  __tests__/devtools/__snapshots__/AtomViewer.test.tsx.snap
  __tests__/devtools/__snapshots__/TimeTravel.test.tsx.snap
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update husky
  .husky/pre-commit
  package.json
Due: prettier --write

fix: set loading overlay background transparency to 0
  src/DevTools/Extension/components/Shell/components/AtomViewer/components/AtomDetail/AtomDetail.tsx
  src/DevTools/Extension/components/Shell/components/TimeTravel/components/SnapshotDetail/SnapshotDetail.tsx
Due: eslint --quiet --fix, prettier --write

chore: update dependencies (#132)
  .husky/pre-commit
  .nvmrc
  .storybook/main.ts
  __tests__/devtools/AtomViewer.test.tsx
  __tests__/devtools/TimeTravel.test.tsx
  __tests__/devtools/__snapshots__/AtomViewer.test.tsx.snap
  __tests__/devtools/__snapshots__/TimeTravel.test.tsx.snap
  __tests__/devtools/__snapshots__/basic.test.tsx.snap
  __tests__/devtools/basic.test.tsx
  __tests__/setup.ts
  __tests__/utils/useAtomsDevtools.test.tsx
  __tests__/utils/useAtomsSnapshot.test.tsx
  jest.config.ts
  package.json
  pnpm-lock.yaml
  src/DevTools/Extension/components/Shell/components/AtomViewer/components/AtomDetail/AtomDetail.tsx
  src/DevTools/Extension/components/Shell/components/AtomViewer/components/AtomDetail/components/AtomMetaDetails.tsx
  src/DevTools/Extension/components/Shell/components/TimeTravel/components/SnapshotDetail/SnapshotDetail.tsx
  src/stories/Default/Playground/Playground.tsx
Due: eslint --quiet --fix, prettier --write

feat: support store v2 + drop support for older store methods
  src/DevTools/Extension/Extension.tsx
  src/DevTools/Extension/components/Shell/components/AtomViewer/hooks/useInternalAtomValue.ts
  src/DevTools/Extension/components/Shell/components/TimeTravel/useSyncSnapshotHistory.ts
  src/DevTools/atoms/user-custom-store.ts
  src/DevTools/hooks/useUserStore.ts
  src/types.ts
  src/utils/hooks/useDevToolsStore.ts
  src/utils/internals/compose-with-devtools.ts
  src/utils/useAtomsDebugValue.ts
  src/utils/useAtomsSnapshot.ts
  src/utils/useGotoAtomsSnapshot.ts
Due: eslint --quiet --fix, prettier --write

feat: improve support for promises during time travel
  src/DevTools/Extension/components/Shell/components/TimeTravel/useSyncSnapshotHistory.ts
  src/stories/Default/Playground/Async.tsx
  src/utils/internals/compose-with-devtools.ts
Due: eslint --quiet --fix, prettier --write

chore: add testing jotai version
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: release v0.9.0
  CHANGELOG.md
  package.json
Due: prettier --write

fix: remove global styles for body tag
  package.json
  pnpm-lock.yaml
  postcss.config.js
  src/DevTools/styles.css
Due: eslint --quiet --fix, prettier --write

fix: copy global css to styles.css
  package.json
  pnpm-lock.yaml
  postcss.config.js
  src/DevTools/Extension/components/Shell/components/TimeTravel/components/SnapshotList/components/RecordHistory.tsx
  src/DevTools/styles.css
  src/stories/Default/Demos/DemoApp.tsx
  tsup.config.ts
Due: eslint --quiet --fix, prettier --write

docs: update docs with warning about prod usage
  README.md
Due: prettier --write

fix: remove colorscheme from :root
  src/DevTools/styles.css
Due: none

fix: remove global styles from final css build (#139)
  README.md
  src/DevTools/Extension/components/Shell/components/TimeTravel/components/SnapshotList/components/RecordHistory.tsx
  src/DevTools/styles.css
  src/stories/Default/Demos/DemoApp.tsx
  tsup.config.ts
Due: eslint --quiet --fix, prettier --write

chore: update dpendencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update storybook
  .storybook/preview.ts
  package.json
  pnpm-lock.yaml
Due: eslint --quiet --fix, prettier --write

chore: bump node version for CodeSandbox CI
  .codesandbox/ci.json
Due: prettier --write

chore: update dependencies (#140)
  .codesandbox/ci.json
  .storybook/preview.ts
  package.json
  pnpm-lock.yaml
Due: eslint --quiet --fix, prettier --write

build: rename command from compile to build
  .codesandbox/ci.json
  package.json
Due: prettier --write

build: rename command from compile to build (#141)
  .codesandbox/ci.json
  package.json
Due: prettier --write

chore: release v0.9.1
  CHANGELOG.md
  package.json
Due: prettier --write

Update docs for conditional CSS import
  README.md
Due: prettier --write

refactor: use dev4_restore_atoms method
  src/utils/internals/compose-with-devtools.ts
Due: eslint --quiet --fix, prettier --write

fix: restore for store v2
  package.json
  pnpm-lock.yaml
  src/stories/Default/Playground/Playground.stories.tsx
  src/utils/internals/compose-with-devtools.ts
Due: eslint --quiet --fix, prettier --write

refactor: bump to latest jotai version
  package.json
  pnpm-lock.yaml
  src/utils/internals/compose-with-devtools.ts
Due: eslint --quiet --fix, prettier --write

test: add tests for store v2
  __tests__/devtools/store1/AtomViewer.test.tsx
  __tests__/devtools/store1/TimeTravel.test.tsx
  __tests__/devtools/store1/__snapshots__/AtomViewer.test.tsx.snap
  __tests__/devtools/store1/__snapshots__/TimeTravel.test.tsx.snap
  __tests__/devtools/store1/__snapshots__/basic.test.tsx.snap
  __tests__/devtools/store1/basic.test.tsx
Due: eslint --quiet --fix, prettier --write

fix: call unsub when we delete mounted atom
  __tests__/devtools/__snapshots__/AtomViewer.test.tsx.snap
  src/utils/internals/compose-with-devtools.ts
Due: eslint --quiet --fix, prettier --write

refactor: get mounted atoms via dev4_get_mounted_atoms
  __tests__/devtools/__snapshots__/AtomViewer.test.tsx.snap
  __tests__/devtools/__snapshots__/basic.test.tsx.snap
  package.json
  pnpm-lock.yaml
  src/stories/Default/Playground/Playground.stories.tsx
  src/utils/internals/compose-with-devtools.ts
Due: eslint --quiet --fix, prettier --write

refactor: use storev2 for demo storybook
  package.json
  pnpm-lock.yaml
  src/stories/Default/Demos/demo-store.ts
Due: eslint --quiet --fix, prettier --write

test: add tests for hooks
  __tests__/utils/store1/useAtomDevtools.test.tsx
  __tests__/utils/store1/useAtomsDevtools.test.tsx
  __tests__/utils/store1/useAtomsSnapshot.test.tsx
  __tests__/utils/store1/useGoToAtomsSnapshot.test.tsx
Due: eslint --quiet --fix, prettier --write

feat: add support for Jotai store v2 (#145)
  __tests__/devtools/store1/AtomViewer.test.tsx
  __tests__/devtools/store1/TimeTravel.test.tsx
  __tests__/devtools/store1/__snapshots__/AtomViewer.test.tsx.snap
  __tests__/devtools/store1/__snapshots__/TimeTravel.test.tsx.snap
  __tests__/devtools/store1/__snapshots__/basic.test.tsx.snap
  __tests__/devtools/store1/basic.test.tsx
  __tests__/utils/store1/useAtomDevtools.test.tsx
  __tests__/utils/store1/useAtomsDevtools.test.tsx
  __tests__/utils/store1/useAtomsSnapshot.test.tsx
  __tests__/utils/store1/useGoToAtomsSnapshot.test.tsx
  package.json
  pnpm-lock.yaml
  src/DevTools/Extension/Extension.tsx
  src/DevTools/Extension/components/Shell/components/AtomViewer/hooks/useInternalAtomValue.ts
  src/DevTools/Extension/components/Shell/components/TimeTravel/useSyncSnapshotHistory.ts
  src/DevTools/atoms/user-custom-store.ts
  src/DevTools/hooks/useUserStore.ts
  src/stories/Default/Demos/demo-store.ts
  src/stories/Default/Playground/Async.tsx
  src/stories/Default/Playground/Playground.stories.tsx
  src/types.ts
  src/utils/hooks/useDevToolsStore.ts
  src/utils/internals/compose-with-devtools.ts
  src/utils/useAtomsDebugValue.ts
  src/utils/useAtomsSnapshot.ts
  src/utils/useGotoAtomsSnapshot.ts
Due: eslint --quiet --fix, prettier --write

chore: update storybook
  .storybook/main.ts
  .storybook/preview.ts
  package.json
  pnpm-lock.yaml
Due: eslint --quiet --fix, prettier --write

chore: update dpendencies TEST
  package.json
  pnpm-lock.yaml
Due: prettier --write
