Repository jotaijs/jotai-devtools: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, prettier --write

.lintstagedrc:

{
  "**/*.{ts,tsx,js,jsx}": [
    "eslint --quiet --fix",
    "prettier --write"
  ],
  "**/*.{md,yml,json,babelrc,eslintrc,prettierrc}": [
    "prettier --write"
  ]
}

chore: update dependencies (#106)
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: release v0.7.0
  CHANGELOG.md
  package.json
Due: prettier --write

fix: make subscribers of store changes async
  src/DevTools/Extension/components/Shell/components/AtomViewer/hooks/useInternalAtomValue.ts
  src/utils/useAtomsDebugValue.ts
  src/utils/useAtomsSnapshot.ts
Due: eslint --quiet --fix, prettier --write

fix: wrap only the setAtom action with promise
  src/DevTools/Extension/components/Shell/components/AtomViewer/hooks/useInternalAtomValue.ts
  src/utils/useAtomsDebugValue.ts
  src/utils/useAtomsSnapshot.ts
Due: eslint --quiet --fix, prettier --write

fix: remove defer in useInternalAtomValue
  src/DevTools/Extension/components/Shell/components/AtomViewer/hooks/useInternalAtomValue.ts
Due: eslint --quiet --fix, prettier --write

fix: fix typo
  src/utils/useAtomsDebugValue.ts
  src/utils/useAtomsSnapshot.ts
Due: eslint --quiet --fix, prettier --write

refactor: avoid ternary operators and rename variables
  src/utils/useAtomsDebugValue.ts
  src/utils/useAtomsSnapshot.ts
Due: eslint --quiet --fix, prettier --write

fix: defer setAtom in subscribers of store change during main render to next micro task (#109)
  src/utils/useAtomsDebugValue.ts
  src/utils/useAtomsSnapshot.ts
Due: eslint --quiet --fix, prettier --write

chore: update storybook
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update dependencies (#115)
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: release v0.7.1
  CHANGELOG.md
  package.json
Due: prettier --write

feat: add className and position option
  src/DevTools/DevTools.tsx
  src/DevTools/Extension/Extension.tsx
  src/DevTools/Extension/components/Shell/Shell.tsx
Due: eslint --quiet --fix, prettier --write

fix: remove className option
  src/DevTools/DevTools.tsx
  src/DevTools/Extension/Extension.tsx
  src/DevTools/Extension/components/Shell/Shell.tsx
Due: eslint --quiet --fix, prettier --write

fix: remove className
  src/DevTools/Extension/Extension.tsx
Due: eslint --quiet --fix, prettier --write

chore: add test update readme
  README.md
  __tests__/devtools/basic.test.tsx
Due: eslint --quiet --fix, prettier --write

chore: update
  __tests__/devtools/basic.test.tsx
Due: eslint --quiet --fix, prettier --write

feat: add position option (#118)
  README.md
  __tests__/devtools/basic.test.tsx
  src/DevTools/DevTools.tsx
  src/DevTools/Extension/Extension.tsx
Due: eslint --quiet --fix, prettier --write

feat: support drag and resize
  package.json
  pnpm-lock.yaml
  src/DevTools/DevTools.tsx
  src/DevTools/Extension/components/Shell/Shell.tsx
  src/DevTools/Extension/components/Shell/components/ShellResizeBar.tsx
  src/DevTools/Extension/components/Shell/styles.ts
  src/DevTools/atoms/shell-styles.ts
  src/DevTools/constants.ts
Due: eslint --quiet --fix, prettier --write

chore: make test work
  __tests__/devtools/__snapshots__/AtomViewer.test.tsx.snap
  __tests__/devtools/__snapshots__/TimeTravel.test.tsx.snap
  __tests__/devtools/__snapshots__/basic.test.tsx.snap
  __tests__/devtools/basic.test.tsx
  src/DevTools/Extension/components/Shell/Shell.tsx
Due: eslint --quiet --fix, prettier --write

chore: only resize
  src/DevTools/Extension/components/Shell/Shell.tsx
Due: eslint --quiet --fix, prettier --write

chore: update
  __tests__/devtools/__snapshots__/AtomViewer.test.tsx.snap
  __tests__/devtools/__snapshots__/basic.test.tsx.snap
  src/DevTools/Extension/components/Shell/Shell.tsx
Due: eslint --quiet --fix, prettier --write

chore: update storybook
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update dependencies (#123)
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: release v0.8.0
  CHANGELOG.md
  package.json
Due: prettier --write

fix: playback speed dropdown color
  src/DevTools/DevTools.tsx
  src/DevTools/Extension/components/Shell/components/TimeTravel/components/PlaybackSpeedDropdown.tsx
  src/DevTools/styles.css
Due: eslint --quiet --fix, prettier --write

feat: export css via a separate entry point
  package.json
  src/DevTools/DevTools.tsx
Due: eslint --quiet --fix, prettier --write

fix(package.json): remove @emotion/* from deps
  package.json
Due: prettier --write

fix(package.json): remove @emotion/* from deps
  pnpm-lock.yaml
Due: none

fix: copy Mantine's css to style.css
  src/DevTools/DevTools.tsx
  src/DevTools/styles.css
  tsup.config.ts
Due: eslint --quiet --fix, prettier --write

fix: add support for css modules to tsup
  package.json
  pnpm-lock.yaml
  tsup.config.ts
Due: eslint --quiet --fix, prettier --write

fix: ditch css modules in favor of native css
  __tests__/devtools/__snapshots__/AtomViewer.test.tsx.snap
  __tests__/devtools/__snapshots__/TimeTravel.test.tsx.snap
  __tests__/devtools/__snapshots__/basic.test.tsx.snap
  jest.config.ts
  src/DevTools/Extension/Extension.tsx
  src/DevTools/Extension/ShellTriggerButton.css
  src/DevTools/Extension/ShellTriggerButton.module.css
  src/DevTools/Extension/components/Shell/Shell.css
  src/DevTools/Extension/components/Shell/Shell.tsx
  src/DevTools/Extension/components/Shell/components/ActionListItem.css
  src/DevTools/Extension/components/Shell/components/ActionListItem.tsx
  src/DevTools/Extension/components/Shell/components/AtomViewer/AtomViewer.css
  src/DevTools/Extension/components/Shell/components/AtomViewer/AtomViewer.tsx
  src/DevTools/Extension/components/Shell/components/CodeSyntaxHighlighter.css
  src/DevTools/Extension/components/Shell/components/CodeSyntaxHighlighter.module.css
  src/DevTools/Extension/components/Shell/components/CodeSyntaxHighlighter.tsx
  src/DevTools/Extension/components/Shell/components/JSONTree/JSONTree.css
  src/DevTools/Extension/components/Shell/components/JSONTree/JSONTree.tsx
  src/DevTools/Extension/components/Shell/components/PanelResizeHandle.css
  src/DevTools/Extension/components/Shell/components/PanelResizeHandle.module.css
  src/DevTools/Extension/components/Shell/components/PanelResizeHandle.tsx
  src/DevTools/Extension/components/Shell/components/TimeTravel/TimeTravel.css
  src/DevTools/Extension/components/Shell/components/TimeTravel/TimeTravel.tsx
  src/DevTools/Extension/components/Shell/components/TimeTravel/components/PlayBar.css
  src/DevTools/Extension/components/Shell/components/TimeTravel/components/PlayBar.tsx
  src/DevTools/Extension/components/Shell/components/TimeTravel/components/SnapshotList/components/Header.css
  src/DevTools/Extension/components/Shell/components/TimeTravel/components/SnapshotList/components/Header.tsx
  tsup.config.ts
Due: eslint --quiet --fix, prettier --write

fix: force theme from props
  src/DevTools/DevTools.tsx
  src/stories/Default/Demos/DemoApp.tsx
Due: eslint --quiet --fix, prettier --write

docs: add usage docs + migration guide
  README.md
Due: prettier --write

chore: update @mantine deps
  package.json
  pnpm-lock.yaml
Due: prettier --write
