Repository jotaijs/jotai-devtools: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, prettier --write

.lintstagedrc:

{
  "**/*.{ts,tsx,js,jsx}": [
    "eslint --quiet --fix",
    "prettier --write"
  ],
  "**/*.{md,yml,json,babelrc,eslintrc,prettierrc}": [
    "prettier --write"
  ]
}

chore: migrate to pnpm (#65)
  .github/workflows/ci.yml
  .husky/commit-msg
  .husky/pre-commit
  docs/internal/release-guide.md
  jest.config.ts
  package.json
  pnpm-lock.yaml
  src/DevTools/Extension/components/Shell/components/JSONTree/JSONTree.tsx
  src/DevTools/Extension/components/Shell/components/JSONTree/utils/get-json-tree-theme.ts
  src/DevTools/Extension/components/Shell/components/JSONTree/utils/useGetStyling.ts
  yarn.lock
Due: eslint --quiet --fix, prettier --write

chore: release v0.5.0
  CHANGELOG.md
  package.json
Due: prettier --write

fix: add mts types after compile
  package.json
Due: prettier --write

fix: add mts types after compile (#66)
  package.json
Due: prettier --write

chore: release v0.5.1
  CHANGELOG.md
  package.json
Due: prettier --write

fix: avoid running preinstall scripts on userland
  package.json
Due: prettier --write

fix: avoid running preinstall scripts on userland (#67)
  package.json
Due: prettier --write

chore: release v0.5.2
  CHANGELOG.md
  package.json
Due: prettier --write

chore: remove unused deep-parsing feature
  src/DevTools/Extension/components/Shell/components/AtomViewer/components/AtomDetail/components/AtomParseDeepNestedValue.tsx
  src/DevTools/Extension/components/Shell/components/AtomViewer/components/AtomDetail/components/DisplayAtomDetails.tsx
  src/DevTools/atoms/devtools-options.ts
  src/DevTools/utils/index.ts
  src/DevTools/utils/parse-atom-value.ts
  src/stories/Default/DevTools.stories.tsx
  src/stories/Default/Playground/Playground.stories.tsx
Due: eslint --quiet --fix, prettier --write

chore: remove unused deep-parsing feature (#69)
  src/DevTools/Extension/components/Shell/components/AtomViewer/components/AtomDetail/components/AtomParseDeepNestedValue.tsx
  src/DevTools/Extension/components/Shell/components/AtomViewer/components/AtomDetail/components/DisplayAtomDetails.tsx
  src/DevTools/atoms/devtools-options.ts
  src/DevTools/utils/index.ts
  src/DevTools/utils/parse-atom-value.ts
  src/stories/Default/DevTools.stories.tsx
  src/stories/Default/Playground/Playground.stories.tsx
Due: eslint --quiet --fix, prettier --write

fix: avoid writing isInitialOpen value to local storage
  src/DevTools/Extension/Extension.tsx
  src/DevTools/atoms/is-shell-open-atom.ts
Due: eslint --quiet --fix, prettier --write

fix: add backwards compatible store support for <=2.1.0
  package.json
  pnpm-lock.yaml
  src/DevTools/Extension/components/Shell/components/AtomViewer/hooks/useInternalAtomValue.ts
  src/utils/useAtomsDebugValue.ts
  src/utils/useAtomsSnapshot.ts
Due: eslint --quiet --fix, prettier --write

refactor: cosmetic update streamline border radius
  __tests__/devtools/__snapshots__/AtomViewer.test.tsx.snap
  __tests__/devtools/__snapshots__/basic.test.tsx.snap
  src/DevTools/DevTools.tsx
  src/DevTools/Extension/components/Shell/components/AtomViewer/components/AtomList/components/AtomListItem.tsx
  src/DevTools/Extension/components/Shell/components/JSONTree/JSONTree.tsx
Due: eslint --quiet --fix, prettier --write

refactor: cosmetic update streamline border radius (#71)
  __tests__/devtools/__snapshots__/AtomViewer.test.tsx.snap
  __tests__/devtools/__snapshots__/basic.test.tsx.snap
  src/DevTools/DevTools.tsx
  src/DevTools/Extension/components/Shell/components/AtomViewer/components/AtomList/components/AtomListItem.tsx
  src/DevTools/Extension/components/Shell/components/JSONTree/JSONTree.tsx
Due: eslint --quiet --fix, prettier --write

feat: version local storage keys
  src/DevTools/Extension/components/Shell/components/AtomViewer/components/AtomDetail/atoms.ts
  src/DevTools/atoms/is-shell-open-atom.ts
  src/DevTools/atoms/shell-styles.ts
  src/DevTools/utils/generate-local-storage-key.ts
Due: eslint --quiet --fix, prettier --write

feat: version local storage keys (#72)
  src/DevTools/Extension/components/Shell/components/AtomViewer/components/AtomDetail/atoms.ts
  src/DevTools/atoms/is-shell-open-atom.ts
  src/DevTools/atoms/shell-styles.ts
  src/DevTools/utils/generate-local-storage-key.ts
Due: eslint --quiet --fix, prettier --write

fix: add backwards compatible store support for <=2.1.0 (#70)
  package.json
  pnpm-lock.yaml
  src/DevTools/Extension/components/Shell/components/AtomViewer/hooks/useInternalAtomValue.ts
  src/utils/useAtomsDebugValue.ts
  src/utils/useAtomsSnapshot.ts
Due: eslint --quiet --fix, prettier --write

feat: use atom keys as debug label
  __tests__/devtools/AtomViewer.test.tsx
  __tests__/devtools/__snapshots__/AtomViewer.test.tsx.snap
  package.json
  pnpm-lock.yaml
  src/DevTools/Extension/components/Shell/components/AtomViewer/components/AtomDetail/components/AtomDependentsList.tsx
  src/DevTools/Extension/components/Shell/components/AtomViewer/components/AtomDetail/components/AtomMetaDetails.tsx
  src/DevTools/Extension/components/Shell/components/AtomViewer/components/AtomDetail/components/DisplayAtomDetails.tsx
  src/DevTools/Extension/components/Shell/components/AtomViewer/components/AtomList/AtomList.tsx
  src/DevTools/Extension/components/Shell/components/AtomViewer/components/AtomList/components/AtomListItem.tsx
  src/DevTools/Extension/components/Shell/components/AtomViewer/utils/filter-atoms-by-string.ts
  src/DevTools/constants.ts
  src/DevTools/utils/atom-to-printable.ts
  src/DevTools/utils/index.ts
  src/DevTools/utils/parse-debug-label.ts
  src/stories/Default/Playground/Playground.stories.tsx
Due: eslint --quiet --fix, prettier --write

feat: use atom keys as debug label (#74)
  __tests__/devtools/AtomViewer.test.tsx
  __tests__/devtools/__snapshots__/AtomViewer.test.tsx.snap
  package.json
  pnpm-lock.yaml
  src/DevTools/Extension/components/Shell/components/AtomViewer/components/AtomDetail/components/AtomDependentsList.tsx
  src/DevTools/Extension/components/Shell/components/AtomViewer/components/AtomDetail/components/AtomMetaDetails.tsx
  src/DevTools/Extension/components/Shell/components/AtomViewer/components/AtomDetail/components/DisplayAtomDetails.tsx
  src/DevTools/Extension/components/Shell/components/AtomViewer/components/AtomList/AtomList.tsx
  src/DevTools/Extension/components/Shell/components/AtomViewer/components/AtomList/components/AtomListItem.tsx
  src/DevTools/Extension/components/Shell/components/AtomViewer/utils/filter-atoms-by-string.ts
  src/DevTools/constants.ts
  src/DevTools/utils/atom-to-printable.ts
  src/DevTools/utils/index.ts
  src/DevTools/utils/parse-debug-label.ts
  src/stories/Default/Playground/Playground.stories.tsx
Due: eslint --quiet --fix, prettier --write

refactor: extract action list item to its own component
  src/DevTools/Extension/components/Shell/components/ActionListItem.tsx
  src/DevTools/Extension/components/Shell/components/AtomViewer/components/AtomList/AtomList.tsx
Due: eslint --quiet --fix, prettier --write

refactor: extract action list item to its own component (#75)
  src/DevTools/Extension/components/Shell/components/ActionListItem.tsx
  src/DevTools/Extension/components/Shell/components/AtomViewer/components/AtomList/AtomList.tsx
Due: eslint --quiet --fix, prettier --write

chore: adjust change log generation config
  .release-it.json
Due: prettier --write

chore: adjust change log generation config (#76)
  .release-it.json
Due: prettier --write

chore: release v0.5.3
  CHANGELOG.md
  package.json
Due: prettier --write

ci: update pnpm version
  .github/workflows/ci.yml
Due: prettier --write

chore: update pnpm lock file
  pnpm-lock.yaml
Due: none

test: add debugger temporarily
  __tests__/devtools/TimeTravel.test.tsx
Due: eslint --quiet --fix, prettier --write

test: explicitly set time for mock date
  __tests__/devtools/TimeTravel.test.tsx
  __tests__/devtools/__snapshots__/TimeTravel.test.tsx.snap
Due: eslint --quiet --fix, prettier --write

test: set TZ to UTC
  __tests__/setup.ts
Due: eslint --quiet --fix, prettier --write

test: set TZ to UTC
  __tests__/setup.ts
  package.json
Due: eslint --quiet --fix, prettier --write

test: set TZ to America/New_York
  package.json
Due: prettier --write

test: run pending timers when using fake timers
  .github/workflows/ci.yml
  __tests__/devtools/TimeTravel.test.tsx
Due: eslint --quiet --fix, prettier --write

ci: run test:ci instead of just test script
  .github/workflows/ci.yml
Due: prettier --write

test(TimeTravel): improve runtime speed
  __tests__/devtools/TimeTravel.test.tsx
Due: eslint --quiet --fix, prettier --write

test(TimeTravel): fix timezone issue, switch back to UTC
  __tests__/devtools/TimeTravel.test.tsx
  __tests__/devtools/__snapshots__/TimeTravel.test.tsx.snap
  package.json
Due: eslint --quiet --fix, prettier --write

ci: update pnpm to 8.6.2 and revert lock version to 6.0
  .github/workflows/ci.yml
  pnpm-lock.yaml
Due: prettier --write

chore: bump jotai version to 2.2.0
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix(create-timestamp.ts): add default locale
  src/DevTools/utils/create-timestamp.ts
Due: eslint --quiet --fix, prettier --write

feat: hardcode locale to en-US for now
  __tests__/devtools/TimeTravel.test.tsx
  __tests__/devtools/__snapshots__/TimeTravel.test.tsx.snap
  src/DevTools/utils/create-timestamp.ts
Due: eslint --quiet --fix, prettier --write
