Repository jotaijs/jotai-devtools: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, prettier --write

chore: update dependencies (#149)
  .storybook/main.ts
  .storybook/preview.ts
  package.json
  pnpm-lock.yaml
Due: eslint --quiet --fix, prettier --write

chore: release v0.10.0
  CHANGELOG.md
  package.json
Due: prettier --write

supports: atom toString includes debugLabel in dev mode
  src/utils/useAtomsDevtools.ts
Due: eslint --quiet --fix, prettier --write

fix: atom toString includes debugLabel in dev mode (#156)
  src/utils/useAtomsDevtools.ts
Due: eslint --quiet --fix, prettier --write

fix: mantine css leak
  package.json
  pnpm-lock.yaml
  postcss.config.js
Due: eslint --quiet --fix, prettier --write

fix: only process @mantine libs
  postcss.config.js
Due: eslint --quiet --fix, prettier --write

chore: update jotai
  __tests__/devtools/AtomViewer.test.tsx
  __tests__/devtools/TimeTravel.test.tsx
  __tests__/devtools/basic.test.tsx
  __tests__/devtools/store1/AtomViewer.test.tsx
  __tests__/devtools/store1/TimeTravel.test.tsx
  __tests__/devtools/store1/__snapshots__/AtomViewer.test.tsx.snap
  __tests__/devtools/store1/__snapshots__/TimeTravel.test.tsx.snap
  __tests__/devtools/store1/__snapshots__/basic.test.tsx.snap
  __tests__/devtools/store1/basic.test.tsx
  __tests__/utils/store1/useAtomDevtools.test.tsx
  __tests__/utils/store1/useAtomsDevtools.test.tsx
  __tests__/utils/store1/useAtomsSnapshot.test.tsx
  __tests__/utils/store1/useGoToAtomsSnapshot.test.tsx
  __tests__/utils/useAtomDevtools.test.tsx
  __tests__/utils/useAtomsDevtools.test.tsx
  __tests__/utils/useAtomsSnapshot.test.tsx
  __tests__/utils/useGoToAtomsSnapshot.test.tsx
  package.json
  pnpm-lock.yaml
  src/stories/Default/Demos/demo-store.ts
  src/stories/Default/Playground/Playground.stories.tsx
  src/types.ts
Due: eslint --quiet --fix, prettier --write

chore: update dependencies for non-storybook modules
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update storybook
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: fix linting errors
  __tests__/devtools/TimeTravel.test.tsx
  src/DevTools/Extension/components/Shell/components/JSONTree/utils/get-item-string.ts
Due: eslint --quiet --fix, prettier --write

chore: remove deprecated command from husky
  .husky/commit-msg
Due: none

chore: update dependencies (#159)
  .husky/commit-msg
  __tests__/devtools/AtomViewer.test.tsx
  __tests__/devtools/TimeTravel.test.tsx
  __tests__/devtools/basic.test.tsx
  __tests__/devtools/store1/AtomViewer.test.tsx
  __tests__/devtools/store1/TimeTravel.test.tsx
  __tests__/devtools/store1/__snapshots__/AtomViewer.test.tsx.snap
  __tests__/devtools/store1/__snapshots__/TimeTravel.test.tsx.snap
  __tests__/devtools/store1/__snapshots__/basic.test.tsx.snap
  __tests__/devtools/store1/basic.test.tsx
  __tests__/utils/store1/useAtomDevtools.test.tsx
  __tests__/utils/store1/useAtomsDevtools.test.tsx
  __tests__/utils/store1/useAtomsSnapshot.test.tsx
  __tests__/utils/store1/useGoToAtomsSnapshot.test.tsx
  __tests__/utils/useAtomDevtools.test.tsx
  __tests__/utils/useAtomsDevtools.test.tsx
  __tests__/utils/useAtomsSnapshot.test.tsx
  __tests__/utils/useGoToAtomsSnapshot.test.tsx
  package.json
  pnpm-lock.yaml
  src/DevTools/Extension/components/Shell/components/JSONTree/utils/get-item-string.ts
  src/stories/Default/Demos/demo-store.ts
  src/stories/Default/Playground/Playground.stories.tsx
  src/types.ts
Due: eslint --quiet --fix, prettier --write

fix: react warnings on async atom read in v2 store
  src/utils/internals/compose-with-devtools.ts
Due: eslint --quiet --fix, prettier --write

fix: react warnings on async atom read in v2 store (#160)
  src/utils/internals/compose-with-devtools.ts
Due: eslint --quiet --fix, prettier --write

chore: release v0.10.1
  CHANGELOG.md
  package.json
Due: prettier --write

docs: fix readme.
  README.md
Due: prettier --write

docs: update note
  README.md
Due: prettier --write

docs: fix readme. (#162)
  README.md
Due: prettier --write

Update package.json
  package.json
Due: prettier --write

feat: expose InternalDevTools component for production builds
  package.json
  src/DevTools/DevTools.tsx
Due: eslint --quiet --fix, prettier --write

test(TimeTravel): async atom snapshot history
  __tests__/devtools/TimeTravel.test.tsx
  __tests__/devtools/__snapshots__/TimeTravel.test.tsx.snap
Due: eslint --quiet --fix, prettier --write

chore: bump Jotai version
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: inspect promise values more reliably
  src/DevTools/Extension/components/Shell/components/TimeTravel/useSyncSnapshotHistory.ts
  src/stories/Default/Playground/Async.tsx
  src/stories/Default/Playground/Playground.tsx
  src/utils/internals/compose-with-devtools.ts
Due: eslint --quiet --fix, prettier --write

chore: update dependencies part 1
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update dependencies part 2
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: downgrade react-resiable-panels as it break tests
  __tests__/devtools/__snapshots__/AtomViewer.test.tsx.snap
  __tests__/devtools/__snapshots__/TimeTravel.test.tsx.snap
  __tests__/devtools/__snapshots__/basic.test.tsx.snap
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update pnpm lock file
  pnpm-lock.yaml
Due: none

chore: bump node to v18
  .codesandbox/ci.json
  .nvmrc
Due: prettier --write

chore: update mantine + other deps
  __tests__/devtools/__snapshots__/TimeTravel.test.tsx.snap
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update more deps
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(ci.yml): bump node version
  .github/workflows/ci.yml
Due: prettier --write

chore: update dependencies (#172)
  .codesandbox/ci.json
  .github/workflows/ci.yml
  .nvmrc
  __tests__/devtools/__snapshots__/AtomViewer.test.tsx.snap
  __tests__/devtools/__snapshots__/TimeTravel.test.tsx.snap
  __tests__/devtools/__snapshots__/basic.test.tsx.snap
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: drop support for jotai store v1
  src/types.ts
  src/utils/internals/compose-with-devtools.ts
Due: eslint --quiet --fix, prettier --write

docs: update docs around prerequisites
  README.md
Due: prettier --write

fix: build error
  package.json
  pnpm-lock.yaml
  src/DevTools/internal-jotai-store.ts
  src/types.ts
Due: eslint --quiet --fix, prettier --write

fix: drop support for jotai store v1 (#173)
  README.md
  package.json
  pnpm-lock.yaml
  src/DevTools/internal-jotai-store.ts
  src/types.ts
  src/utils/internals/compose-with-devtools.ts
Due: eslint --quiet --fix, prettier --write

test(TimeTravel): async atom snapshot history (#170)
  __tests__/devtools/TimeTravel.test.tsx
  __tests__/devtools/__snapshots__/TimeTravel.test.tsx.snap
  src/DevTools/Extension/components/Shell/components/TimeTravel/useSyncSnapshotHistory.ts
  src/stories/Default/Playground/Async.tsx
  src/stories/Default/Playground/Playground.tsx
  src/utils/internals/compose-with-devtools.ts
Due: eslint --quiet --fix, prettier --write

Path conditions:
  eslint --quiet --fix: any of: **/*.{ts,tsx,js,jsx}
  prettier --write: (any of: **/*.{ts,tsx,js,jsx}) or (any of: **/*.{md,yml,json,babelrc,eslintrc,prettierrc})
