Repository jotaijs/jotai-devtools: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, prettier --write

.lintstagedrc:

{
  "**/*.{ts,tsx,js,jsx}": [
    "eslint --quiet --fix",
    "prettier --write"
  ],
  "**/*.{md,yml,json,babelrc,eslintrc,prettierrc}": [
    "prettier --write"
  ]
}

fix: guard restore action with isTimeTravelling atom
  src/DevTools/Extension/components/Shell/components/TimeTravel/components/SnapshotDetail/components/DisplaySnapshotDetails/components/SnapshotActions.tsx
Due: eslint --quiet --fix, prettier --write

fix: guard restore action with isTimeTravelling atom (#174)
  src/DevTools/Extension/components/Shell/components/TimeTravel/components/SnapshotDetail/components/DisplaySnapshotDetails/components/SnapshotActions.tsx
Due: eslint --quiet --fix, prettier --write

chore: release v0.11.0
  CHANGELOG.md
  package.json
Due: prettier --write

refactor: drop support for dev_* methods
  package.json
  pnpm-lock.yaml
  src/types.ts
  src/utils/internals/compose-with-devtools.ts
Due: eslint --quiet --fix, prettier --write

chore: update jotai dev version for testing purposes
  package.json
  pnpm-lock.yaml
Due: prettier --write

docs: update docs
  README.md
Due: prettier --write

refactor: remove tree-shaking
  src/DevTools/DevTools.tsx
  src/index.ts
  tsup.config.ts
Due: eslint --quiet --fix, prettier --write

chore: update jotai package
  package.json
  pnpm-lock.yaml
Due: prettier --write

refactor: drop support for dev_* methods (#180)
  README.md
  package.json
  pnpm-lock.yaml
  src/DevTools/DevTools.tsx
  src/index.ts
  src/types.ts
  src/utils/internals/compose-with-devtools.ts
  tsup.config.ts
Due: eslint --quiet --fix, prettier --write

chore: update dependencies
  .storybook/main.ts
  __tests__/devtools/AtomViewer.test.tsx
  __tests__/devtools/TimeTravel.test.tsx
  __tests__/devtools/__snapshots__/AtomViewer.test.tsx.snap
  __tests__/devtools/__snapshots__/TimeTravel.test.tsx.snap
  package.json
  pnpm-lock.yaml
  src/stories/Default/Playground/Playground.tsx
Due: eslint --quiet --fix, prettier --write

chore: update more deps
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update dependencies (#185)
  .storybook/main.ts
  __tests__/devtools/AtomViewer.test.tsx
  __tests__/devtools/TimeTravel.test.tsx
  __tests__/devtools/__snapshots__/AtomViewer.test.tsx.snap
  __tests__/devtools/__snapshots__/TimeTravel.test.tsx.snap
  package.json
  pnpm-lock.yaml
  src/stories/Default/Playground/Playground.tsx
Due: eslint --quiet --fix, prettier --write

fix: re-add dev only export
  src/DevTools/DevTools.tsx
  src/index.ts
  tsup.config.ts
Due: eslint --quiet --fix, prettier --write

refactor: add warning + docs around tree-shaking
  README.md
  src/DevTools/DevTools.tsx
Due: eslint --quiet --fix, prettier --write

fix: re-add dev only export + add warning + docs around tree shaking (#186)
  README.md
  src/DevTools/DevTools.tsx
  src/index.ts
  tsup.config.ts
Due: eslint --quiet --fix, prettier --write

chore: release v0.12.0
  CHANGELOG.md
  package.json
Due: prettier --write

fix: remove direct dependency to jotai
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: remove direct dependency to jotai (#190)
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: building blocks are included on devStore
  src/utils/internals/compose-with-devtools.ts
Due: eslint --quiet --fix, prettier --write

fix: compose with prev createStore
  src/types.ts
  src/utils/internals/compose-with-devtools.ts
Due: eslint --quiet --fix, prettier --write

fix: building blocks are included on devStore (#198)
  src/utils/internals/compose-with-devtools.ts
Due: eslint --quiet --fix, prettier --write

refactor: support INTERNAL_buildStoreRev2 + drop support for older version
  package.json
  pnpm-lock.yaml
  src/utils/internals/compose-with-devtools.ts
Due: eslint --quiet --fix, prettier --write

chore: update jotai version
  README.md
  package.json
  pnpm-lock.yaml
Due: prettier --write

refactor: support INTERNAL_buildStoreRev2 + drop support for older version (#201)
  README.md
  package.json
  pnpm-lock.yaml
  src/utils/internals/compose-with-devtools.ts
Due: eslint --quiet --fix, prettier --write

chore: bump jotai peer deps
  package.json
Due: prettier --write

chore: update storybook
  .storybook/main.ts
  package.json
  pnpm-lock.yaml
  src/stories/Default/DevTools.stories.tsx
  src/stories/Default/Playground/Playground.stories.tsx
  src/stories/ProviderLess/DevToolsProviderLess.stories.tsx
Due: eslint --quiet --fix, prettier --write

chore: update non breaking deps
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update jest
  __tests__/devtools/__snapshots__/AtomViewer.test.tsx.snap
  __tests__/devtools/__snapshots__/TimeTravel.test.tsx.snap
  __tests__/devtools/__snapshots__/basic.test.tsx.snap
  __tests__/devtools/basic.test.tsx
  __tests__/utils/useAtomDevtools.test.tsx
  __tests__/utils/useAtomsDevtools.test.tsx
  package.json
  pnpm-lock.yaml
Due: eslint --quiet --fix, prettier --write

chore: update dependencies (#204)
  .storybook/main.ts
  __tests__/devtools/__snapshots__/AtomViewer.test.tsx.snap
  __tests__/devtools/__snapshots__/TimeTravel.test.tsx.snap
  __tests__/devtools/__snapshots__/basic.test.tsx.snap
  __tests__/devtools/basic.test.tsx
  __tests__/utils/useAtomDevtools.test.tsx
  __tests__/utils/useAtomsDevtools.test.tsx
  package.json
  pnpm-lock.yaml
  src/stories/Default/DevTools.stories.tsx
  src/stories/Default/Playground/Playground.stories.tsx
  src/stories/ProviderLess/DevToolsProviderLess.stories.tsx
Due: eslint --quiet --fix, prettier --write

chore: release v0.13.0
  CHANGELOG.md
  package.json
Due: prettier --write

chore: upgrade node to lts/*
  .codesandbox/ci.json
  .github/workflows/ci.yml
  .nvmrc
  jest.config.ts
  pnpm-lock.yaml
Due: eslint --quiet --fix, prettier --write

chore: use hardcoded lts version for codesandbox
  .codesandbox/ci.json
Due: prettier --write

chore: revert back node version to 20 for Codesandbox CI
  .codesandbox/ci.json
Due: prettier --write

chore: update pnpm lock file
  pnpm-lock.yaml
Due: none

chore: bump pnpm + bump actions/setup-node
  .github/workflows/ci.yml
  package.json
Due: prettier --write

chore: upgrade node to lts/* (#206)
  .github/workflows/ci.yml
  .nvmrc
  jest.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --quiet --fix, prettier --write

chore: supress automatic tree-shaking warning during test run
  __tests__/setup.ts
Due: eslint --quiet --fix, prettier --write

chore: fix more tests
  __tests__/devtools/TimeTravel.test.tsx
  __tests__/devtools/__snapshots__/TimeTravel.test.tsx.snap
Due: eslint --quiet --fix, prettier --write

chore: supress automatic tree-shaking warning during test run + fix tests (#207)
  __tests__/devtools/TimeTravel.test.tsx
  __tests__/devtools/__snapshots__/TimeTravel.test.tsx.snap
  __tests__/setup.ts
Due: eslint --quiet --fix, prettier --write
