Repository jotaijs/jotai-devtools: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, prettier --write

chore: bump checkout + pnpm action
  .github/workflows/ci.yml
Due: prettier --write

chore: lock mantine deps
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: lock mantine deps (#209)
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: bump checkout + pnpm action (#208)
  .github/workflows/ci.yml
Due: prettier --write

Fix: grammar issue in readme.md
  README.md
Due: prettier --write

Fix: grammar issue in readme.md (#210)
  README.md
Due: prettier --write

fix: compatibility with jotai store epoch changes (atomState.m)
  src/types.ts
  src/utils/internals/compose-with-devtools.ts
Due: eslint --quiet --fix, prettier --write

fix: compatibility with jotai store epoch changes (atomState.m) (#214)
  src/types.ts
  src/utils/internals/compose-with-devtools.ts
Due: eslint --quiet --fix, prettier --write

chore: update deps
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update deps
  .storybook/main.ts
  package.json
  pnpm-lock.yaml
Due: eslint --quiet --fix, prettier --write

chore: update deps
  src/DevTools/Extension/components/Shell/components/TimeTravel/components/SnapshotDetail/components/DisplaySnapshotDetails/components/TreeView.tsx
  src/stories/Default/Demos/DemoApp.tsx
  src/stories/Default/DevTools.stories.tsx
  src/stories/Default/Playground/Playground.stories.tsx
  src/stories/ProviderLess/DevToolsProviderLess.stories.tsx
  tsconfig.build.json
  tsup.config.ts
  types/global.d.ts
Due: eslint --quiet --fix, prettier --write

chore: update deps
  __tests__/devtools/__snapshots__/AtomViewer.test.tsx.snap
  __tests__/devtools/__snapshots__/TimeTravel.test.tsx.snap
  __tests__/devtools/__snapshots__/basic.test.tsx.snap
  package.json
  pnpm-lock.yaml
  src/utils/useAtomDevtools.ts
  src/utils/useAtomsDevtools.ts
Due: eslint --quiet --fix, prettier --write

chore: fix lock file
  pnpm-lock.yaml
Due: none

chore: update dependencies (#215)
  .storybook/main.ts
  __tests__/devtools/__snapshots__/AtomViewer.test.tsx.snap
  __tests__/devtools/__snapshots__/TimeTravel.test.tsx.snap
  __tests__/devtools/__snapshots__/basic.test.tsx.snap
  package.json
  pnpm-lock.yaml
  src/DevTools/Extension/components/Shell/components/TimeTravel/components/SnapshotDetail/components/DisplaySnapshotDetails/components/TreeView.tsx
  src/stories/Default/Demos/DemoApp.tsx
  src/stories/Default/DevTools.stories.tsx
  src/stories/Default/Playground/Playground.stories.tsx
  src/stories/ProviderLess/DevToolsProviderLess.stories.tsx
  src/utils/useAtomDevtools.ts
  src/utils/useAtomsDevtools.ts
  tsconfig.build.json
  tsup.config.ts
  types/global.d.ts
Due: eslint --quiet --fix, prettier --write

chore: release v0.13.1
  CHANGELOG.md
  package.json
Due: prettier --write

fix: update InternalDevTools return type to React.ReactNode
  src/DevTools/DevTools.tsx
Due: eslint --quiet --fix, prettier --write

chore: update react json tree from 0.18.0 to 0.20.0
  package.json
  pnpm-lock.yaml
Due: prettier --write

refactor: support INTERNAL_buildStoreRev3 + drop support for older version
  package.json
  pnpm-lock.yaml
  src/utils/internals/compose-with-devtools.ts
Due: eslint --quiet --fix, prettier --write

fix: update InternalDevTools return type to React.ReactNode (#216)
  src/DevTools/DevTools.tsx
Due: eslint --quiet --fix, prettier --write

refactor: bump jotai to latest + update peer deps
  README.md
  package.json
  pnpm-lock.yaml
Due: prettier --write

refactor: support INTERNAL_buildStoreRev3 + drop support for older version (#218)
  README.md
  package.json
  pnpm-lock.yaml
  src/utils/internals/compose-with-devtools.ts
Due: eslint --quiet --fix, prettier --write

chore: update storybook
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: downgrade eslint-plugin-react-hooks
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update dependencies (#219)
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: release v0.14.0
  CHANGELOG.md
  package.json
Due: prettier --write

chore: fix typo "seperate" → "separate" in tsup.config.ts
  tsup.config.ts
Due: eslint --quiet --fix, prettier --write

feat: add jotai v3 support
  __tests__/devtools/AtomViewer.test.tsx
  __tests__/utils/useAtomDevtools.test.tsx
  __tests__/utils/useAtomsDevtools.test.tsx
  __tests__/utils/useAtomsSnapshot.test.tsx
  __tests__/utils/useGoToAtomsSnapshot.test.tsx
  jest.config.ts
  package.json
  pnpm-lock.yaml
  src/DevTools/Extension/components/Shell/atoms.ts
  src/DevTools/Extension/components/Shell/components/AtomViewer/atoms.ts
  src/DevTools/Extension/components/Shell/components/AtomViewer/components/AtomDetail/atoms.ts
  src/DevTools/Extension/components/Shell/components/TimeTravel/atoms.ts
  src/DevTools/Extension/components/Shell/components/TimeTravel/components/SnapshotDetail/atoms.ts
  src/DevTools/Extension/components/Shell/components/TimeTravel/components/SnapshotDetail/components/DisplaySnapshotDetails/atoms.ts
  src/DevTools/Extension/components/Shell/components/TimeTravel/components/SnapshotList/atoms.ts
  src/DevTools/atoms/devtools-options.ts
  src/DevTools/atoms/user-custom-store.ts
  src/DevTools/atoms/values-atom.ts
  src/stories/Default/Demos/Async.tsx
  src/stories/Default/Demos/Counter.tsx
  src/stories/Default/Demos/DemoApp.tsx
  src/stories/Default/Demos/Random.tsx
  src/stories/Default/Demos/Todos.tsx
  src/stories/Default/Playground/Async.tsx
  src/stories/Default/Playground/Counter.tsx
  src/stories/Default/Playground/Playground.stories.tsx
  src/stories/Default/Playground/Playground.tsx
  src/types.ts
  src/utils/internals/compose-with-devtools.ts
  src/utils/useAtomsDebugValue.ts
  src/utils/useAtomsSnapshot.ts
Due: eslint --quiet --fix, prettier --write

refactor: drop support for cjs
  .eslintrc.js
  package.json
  pnpm-lock.yaml
  src/DevTools/Extension/components/Shell/atoms.ts
  src/DevTools/Extension/components/Shell/components/AtomViewer/atoms.ts
  src/DevTools/Extension/components/Shell/components/AtomViewer/components/AtomDetail/atoms.ts
  src/DevTools/Extension/components/Shell/components/TimeTravel/atoms.ts
  src/DevTools/Extension/components/Shell/components/TimeTravel/components/SnapshotDetail/components/DisplaySnapshotDetails/atoms.ts
  src/types.ts
  src/utils/internals/compose-with-devtools.ts
  tsup.config.ts
Due: eslint --quiet --fix, prettier --write

refactor: update peer dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

refactor: update peer dependencies
  package.json
Due: prettier --write

refactor: update release script to alpha
  package.json
Due: prettier --write

docs: update readme
  README.md
Due: prettier --write

chore: release v0.15.0-alpha.0
  CHANGELOG.md
  package.json
Due: prettier --write

feat: add jotai v3 support (#222)
  .eslintrc.js
  CHANGELOG.md
  README.md
  __tests__/devtools/AtomViewer.test.tsx
  __tests__/utils/useAtomDevtools.test.tsx
  __tests__/utils/useAtomsDevtools.test.tsx
  __tests__/utils/useAtomsSnapshot.test.tsx
  __tests__/utils/useGoToAtomsSnapshot.test.tsx
  jest.config.ts
  package.json
  pnpm-lock.yaml
  src/DevTools/Extension/components/Shell/components/TimeTravel/atoms.ts
  src/DevTools/Extension/components/Shell/components/TimeTravel/components/SnapshotDetail/atoms.ts
  src/DevTools/Extension/components/Shell/components/TimeTravel/components/SnapshotDetail/components/DisplaySnapshotDetails/atoms.ts
  src/DevTools/Extension/components/Shell/components/TimeTravel/components/SnapshotList/atoms.ts
  src/DevTools/atoms/devtools-options.ts
  src/DevTools/atoms/user-custom-store.ts
  src/DevTools/atoms/values-atom.ts
  src/stories/Default/Demos/Async.tsx
  src/stories/Default/Demos/Counter.tsx
  src/stories/Default/Demos/DemoApp.tsx
  src/stories/Default/Demos/Random.tsx
  src/stories/Default/Demos/Todos.tsx
  src/stories/Default/Playground/Async.tsx
  src/stories/Default/Playground/Counter.tsx
  src/stories/Default/Playground/Playground.stories.tsx
  src/stories/Default/Playground/Playground.tsx
  src/utils/internals/compose-with-devtools.ts
  src/utils/useAtomsDebugValue.ts
  src/utils/useAtomsSnapshot.ts
  tsup.config.ts
Due: eslint --quiet --fix, prettier --write

chore: update deps
  package.json
  pnpm-lock.yaml
  src/stories/Default/Playground/Playground.tsx
Due: eslint --quiet --fix, prettier --write

test: fix broken tests + update deps
  .eslintrc.js
  .lintstagedrc
  __tests__/devtools/TimeTravel.test.tsx
  __tests__/devtools/TimeTravelSpeed.test.tsx
  __tests__/devtools/__snapshots__/AtomViewer.test.tsx.snap
  __tests__/devtools/__snapshots__/TimeTravel.test.tsx.snap
  __tests__/devtools/__snapshots__/basic.test.tsx.snap
  __tests__/utils/useGoToAtomsSnapshot.test.tsx
  package.json
  pnpm-lock.yaml
  src/utils/internals/isEqualAtomsSnapshot.ts
  src/utils/useAtomsDevtools.ts
  src/utils/useAtomsSnapshot.ts
Due: eslint --quiet --fix, prettier --write

chore: fix lockfile
  pnpm-lock.yaml
Due: none

Path conditions:
  eslint --quiet --fix: any of: **/*.{ts,tsx,js,jsx}
  prettier --write: (any of: **/*.{ts,tsx,js,jsx}) or (any of: **/*.{md,yml,json,babelrc,eslintrc,prettierrc})
